
body {
    background-color: #F2FEDC;
    font-family: Arial, sans-serif;
}

header {
    background-color: #839F3A;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

main h2 {
    color: #839F3A;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

main p {
    font-size: 1.2em;
    line-height: 1.5;
}

footer {
    background-color: #839F3A;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

#promocoes {
    color: #839F3A;
    font-size: 2em;
    margin-bottom: 10px;
}


.queijos {
    position: absolute;
    margin-top: 50px;
    width: 30%;
    border: solid black;
    background-color: white;
    left: 35%;
    border-top: 100px;


        
}

.queijos li:first-child
{
    border: solid black;
    background-color: #839F3A;
    color: white;
    font-size: 1.5em;
    margin-left: -40px;
    border-left: none;
    border-right: none;
    text-align: center;
    
}
.queijos li {
    list-style-type: none;
}
.pizza {
    position: absolute;
    width: 30%;
    left: 35%;
}

.contato {
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
    border: solid black;
    border-radius: 100px;
    background-color: #839F3A;
    width: 30%;
    text-align: center;
    margin-left: 35%;

}

.descontoum {
 color: black

}
